.macouleur1 {
    color: white;
  }
 
  .macouleur2 {
    color: #cb6118;
  }
 
  .macouleur3 {
    color: black;
    font-size: 25px;
  }
 
  .macouleur4 {
    color: #cb6118;
    font-size: 25px;
  }
  .macouleur5 {
   color:rgb(45, 158, 252)
  }
  
 body {
    font-family: arial black;
    font-size: 12px;
    background-color: black;
  }
  .bandeau {
    background-color: black;
    color: white;
  }
  .conteneur {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  header {
    height: 80px;
    width: auto;
    margin: 0px auto;
    position: relative;
  }
  
  .titre {
    font-size: 40px;
  }
  ul {
  
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    opacity: 0.50;
    height: 35px;
  }
  li {
    float: right;
  }
  li a
  {
    color: black;
    text-align: center;
    padding: 14px 16px;
    background-color: white;
    font-size:15px;
  }
  li a:hover {
    color: white;
    background-color: orange;
    opacity: 1;
  }
.imgv3 {

background-repeat: no-repeat;

}

.super {
   
       top: 250px;
  
  }
  .super .fenetre {
    background: white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    opacity: 1;
    position: absolute;
    text-align: center;
    font-family: Georgia;
    margin-left: 150;
    left: 20%;
    right: 0;
    top: 150px;
    color: black;
    width: 950px;
    height: 300px;
    flex-direction: row;
    display: flex;
    
   }
   .fen1 {
    float: inline-end;

   }
   .fen2 {
    float: inline-start; 
   }
   .message{
    width: 300px;
    height: 50%;}
.super .fenetre h1 {
    text-align: center;
}
.h1
{
    font-size: 40px;
}
button {
    display: inline-block;
    background-color: #7b38d8;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 15px;
    padding: 20px;
    width: 100px;
    height: 45px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-top: 230px;
     }
     .foot {
      background-color: black;
      flex-direction: row;
      display: flex;
      justify-content: space-around;
      color: white;
    }
  .fin {
    text-align: center;
    background-color: black;
    color: gray;
  }
 