
.macouleur1 {
    color: white;
  }

  .macouleur2 {
    color: #cb6118;
  }
  
  .macouleur3 {
    color: black;
  
  }
  
  .macouleur4 {
    color: #cb6118;

  }
  
  .macouleur5 {
    color:rgb(45, 158, 252)
  }
.bandeau {
    background-color: black;
    color: white;
}
body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 200vh;
  font-family: 'Cabin', Sans-serif;
 
}
.telephone {
  padding-top: 80px;
}.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
  background: black;
  z-index: -1;
}

#hamburger-input{
display: none;
}
#hamburger-menu {
width: 50px;
height: 50px;
display: block;
border: none;
padding: 0px;
margin: 20px;
position: fixed;
right: 25px;
background: linear-gradient(
  to bottom, 
  blue, blue 20%, 
  rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 40%, 
  blue 40%, blue 60%, 
  rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 80%, 
  blue 80%, blue 100%
);
}
#hamburger-menu #sidebar-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: black;
  transition: 0.3s;
  padding: 0px 10px;
  box-sizing: border-box;
}
#hamburger-menu h3 {
color: white;
font-size: 2.2rem;
}
#hamburger-menu ul {
padding-left: 0px;
}

#hamburger-menu li {
list-style-type: none;
line-height: 3rem;
}
#hamburger-menu a {
color: white;
font-size: 1.3rem;
text-decoration: none;
}
#hamburger-menu a:hover {
text-decoration: underline;
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}
#hamburger-input:checked ~ .overlay{
 visibility: visible;
opacity: 0.4;
}

@media screen and (max-width: 750px) {
#main-menu {
  display: none;
}
#hamburger-menu {
  display: inline;
}
}
.menuhaut {
    color: lightgrey;
    background-color: white;
    margin-top: 50px;  
}
 
/*Cache toutes les citations*/

blockquote {
  display: none;
}


/*Affiche la citation ciblée, active*/

blockquote:target {
  display: block;
  padding: 1em;
  font-size:1.5em;
  color:#fff;
  background-color: #FF1654;
}
.textegris {
  border-left:2px solid #cb6118;
   height: 300px;
   display: inline-block;
}
.foot {
  background-color: black;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  color: white;
}
.clubauto p {
  color: white;
}
.horaires .jour {
  color: gray;
}
.horaires span {
  color: white;
}
.inscr {
  color: gray;
  font-size: small;
}
.fin {
  text-align: center;
  background-color: black;
  color: lightgrey;
  font-size: small;
}
.fin hr {
  color: lightgrey;
  width: 100%;
  background-color: lightgray;
}