.macouleur1 {
  color: white;
}
.macouleur2 {
  color: #cb6118;
}
.macouleur3 {
  color: black;
}
.macouleur4 {
  color: #cb6118;
}
.macouleur5 {
  color:rgb(45, 158, 252)
}
.bandeau {
  background-color: black; }
body {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  min-height: 200vh;
  font-family: 'Cabin', Sans-serif;
 
}
.telephone {
  padding-top: 80px;
}
.meilleur {
  text-align: center;
  font-size: xx-large;
}
.meilleur2 {
  text-align: center;
  font-size: xx-large;
  margin-top: 40px;
}
.bievenue {
  text-align: center;
  font-size: xx-large;
}
.article {
  color: gray;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#hamburger-input{
  display: none;
}
#hamburger-menu {
  width: 50px;
  height: 50px;
  display: block;
  border: none;
  padding: 0px;
  margin: 20px;
  position: fixed;
  right: 25px;
  background: linear-gradient(
    to bottom, 
    blue, blue 20%, 
    rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 40%, 
    blue 40%, blue 60%, 
    rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0) 80%, 
    blue 80%, blue 100%
  );
}
#hamburger-menu #sidebar-menu {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color: black;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}
#hamburger-menu h3 {
  color: white;
  font-size: 2.2rem;
}
#hamburger-menu ul {
  padding-left: 0px;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}
#hamburger-menu a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}
#hamburger-menu a:hover {
  text-decoration: underline;
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    left: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}

@media screen and (max-width: 750px) {
  #main-menu {
    display: none;
  }
  #hamburger-menu {
    display: inline;
  }
}
.bg-image {
  background-image: url('images/vente-location.jpg');
  height: 100vh;
}
.mask {
  backdrop-filter: blur(5px);
  background-color: rgba(255,187,0,0.6);
  height: 40vh;
  margin-bottom: 35px;
  margin-top: 35px;
}
.mask2 {
  backdrop-filter: blur(5px);
  background-color: rgba(255,26,26,0.6);
  height: 40vh;
  margin-top: 35px;
}
.vehiculesrec {
  font-size: 40px;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 15px;
}
hr {
  border: 3px solid rgb(255, 205, 23);
  width: 75%; 
}
.prix
{
    font-size: x-large;
    background-color: rgb(137, 137, 255);
    border: 1px solid rgb(137, 137, 255);;
    width:100px;
  
}
.vehiculesrec {
  font-size: 40px;
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 15px;
}
.pnc {
  background-color: white;
  color: black;
}
button {
  background-color: blue;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  height: 60px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-decoration: none;
}
button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  text-decoration: none;
}
button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.vel{
  background-image: url('images/vehicule3.jpg');
  height: 100vh;
}
.mask3 {
  backdrop-filter: blur(5px);
  background-color: rgba(255,187,0,0.6);
  height: 80vh; 
  margin-top: 30px;
}
.mask3 p {
  color: black;
}
.foot {
  background-color: black;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  color: white;
}
.clubauto p {
  color: white;
}
.horaires .jour {
  color: gray;
}
.horaires span {
  color: white;
}
.inscr {
  color: gray;
  font-size: small;
}
.fin {
  text-align: center;
  background-color: black;
  color: lightgrey;
  font-size: small;
}
.fin hr {
  color: lightgrey;
  width: 100%;
  background-color: lightgray;
}